<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Salary / Slip </span>/ Update Multiple</h4>

<div th:if="${error != null}" class="alert alert-danger alert-dismissible" role="alert">
  <small th:utext="${error}"></small>  
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div th:if="${success != null}" class="alert alert-success alert-dismissible" role="alert">
  <small th:utext="${success}"></small>  
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div th:if="${warning != null}" class="alert alert-warning alert-dismissible" role="alert">
  <small th:utext="${warning}"></small>  
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="card mb-4">
    <div class="mb-4">
        <h4 class="card-header">Form</h4>
    </div>
    <div class="container mb-4">
        <form th:action="@{/salary/slip/updateMultiple}" method="post">
            <div class="row">
                <div class="col-md-2 mb-4"></div>
                <div class="col-md-7 mb-4">
                    <div class="form-floating mb-4">
                        <select name="comp" id="comp" class="form-control">
                            <span th:each="comp: ${components}">
                                <option th:value="${comp.name}" th:text="${comp.salary_component}"></option>
                            </span>
                        </select>
                        <label for="comp">Components</label>
                    </div>
                    <div class="form-floating mb-4">
                        <select name="condition" id="condition" class="form-control">
                            <option value="<"><</option>
                            <option value=">">></option>
                            <option value="=">=</option>
                        </select>
                        <label for="condition">Condition</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount for condition">
                        <label for="amount">Condition amount</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="number" class="form-control" id="new_amount" name="new_amount" placeholder="Amount set will be the value  for each salary updated">
                        <label for="new_amount">New salary amount</label>
                    </div>
                    <div class="form-floating mb-4">
                        <select name="choice" id="choice" class="form-control">
                            <option value="add">add</option>
                            <option value="reduce">reduce</option>
                        </select>
                        <label for="choice">Option</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="number" class="form-control" id="value" name="value" placeholder="Value">
                        <label for="value">Value of the old Salary to add (en %)</label>
                    </div>
                </div>
                <!-- <div class="col-md-6 mb-4">
                    <div class="form-floating mb-4">
                        <input type="date" class="form-control" id="start_date" name="start_date">
                        <label for="start_date">Start date</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="date" class="form-control" id="end_date" name="end_date">
                        <label for="end_date">End Date</label>
                    </div>
                </div> -->
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="submit" class="form-control btn btn-primary" value="Update salaries">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>